.dark_window{
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.7);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dark_box{
    max-width: 600px;
    width:100%;
    border:2px solid rgb(137, 161, 228);;
    background-color: rgb(8, 2, 70);
    min-height: 300px;
    color:rgb(137, 161, 228);;
    position: relative;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}   

.dark_box img{
    float:left;
    max-width:300px;
    width:40%;
    margin-right: 8px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.dark_box .x_btn{
    position: absolute;
    right:0;
    top:0;
    padding:7px;
    background-color: red;
    color:rgb(255, 255, 255);
    /* משנה סמן עכבר ללחיץ */
    cursor: pointer;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.dark_box .x_btn:hover{
    background-color: brown;
}